/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos de cabecera */
header {
    background-color: #3E8E41;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Estilos de catálogo */
.catalogo {
    padding: 20px;
    text-align: center;
}

.catalogo h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto h3 {
    font-size: 1.5em;
    color: #333;
}

.producto p {
    font-size: 1em;
    color: #555;
}

/* Pie de página */
footer {
    background-color: #3E8E41;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
